Repository darwinia-network/fee-market: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "packages/**/*.{js,jsx,ts,tsx}": "eslint --fix",
  "**/*.{css,less,scss}": "stylelint --fix",
  "**/*.{js,jsx,ts,tsx,json}": "prettier --write"
}

testing
  .stylelintrc.json
  packages/darwinia-ui/src/assets/styles/autogenerated.css
  packages/darwinia-ui/src/components/Input/index.tsx
Due: eslint --fix, stylelint --fix, prettier --write

added auto generated file in lint ignore
  .stylelintignore
Due: none

activated tailwind auto generate file linting
  .stylelintignore
Due: none

fee market provider and hook
  package.json
  packages/app-config/custom.d.ts
  packages/app-config/src/chains/crab.ts
  packages/app-config/src/chains/darwinia.ts
  packages/app-config/src/chains/index.ts
  packages/app-config/src/chains/pangolin.ts
  packages/app-config/src/chains/pangoro.ts
  packages/app-config/src/images/network/crab.svg
  packages/app-config/src/images/network/darwinia.svg
  packages/app-config/src/images/network/ethereum.svg
  packages/app-config/src/images/network/pangolin.svg
  packages/app-config/src/images/network/pangoro.svg
  packages/app-hooks/package.json
  packages/app-hooks/rollup.config.js
  packages/app-hooks/src/feemarket.tsx
  packages/app-hooks/src/index.tsx
  packages/app-hooks/tsconfig.json
  packages/app-provider/package.json
  packages/app-provider/rollup.config.js
  packages/app-provider/src/feemarket.tsx
  packages/app-provider/src/index.tsx
  packages/app-provider/tsconfig.json
  packages/app-types/src/chain.ts
  packages/app-types/src/index.ts
  packages/app-types/src/metamask.ts
Due: eslint --fix, prettier --write

graphql provider
  packages/app-config/package.json
  packages/app-config/rollup.config.js
  packages/app-config/src/index.ts
  packages/app-hooks/rollup.config.js
  packages/app-hooks/src/feemarket.tsx
  packages/app-provider/package.json
  packages/app-provider/rollup.config.js
  packages/app-provider/src/graphql.tsx
  packages/app-provider/src/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write

darwinia ui react project can build as usual
  packages/darwinia-ui/index.html
  packages/darwinia-ui/package.json
  packages/darwinia-ui/src/App.tsx
  packages/darwinia-ui/src/assets/react.svg
  packages/darwinia-ui/src/components/Input/index.tsx
  packages/darwinia-ui/src/main.tsx
  packages/darwinia-ui/vite.config.ts
Due: eslint --fix, prettier --write

darwinia ui uses app-base tailwind config
  packages/app-base/src/pages/RelayersOverview.tsx
  packages/app-base/tailwind.config.cjs
  packages/darwinia-ui/README.md
  packages/darwinia-ui/src/assets/styles/autogenerated.css
  packages/darwinia-ui/src/components/Table/index.tsx
  packages/darwinia-ui/src/index.ts
Due: eslint --fix, stylelint --fix, prettier --write

code refactor
  packages/app-base/src/components/Header/index.tsx
  packages/app-base/src/components/Menu/index.tsx
  packages/app-base/src/components/NetworkSwitchDialog/index.tsx
  packages/app-base/src/data/useMenuList.ts
  packages/app-base/src/data/useNetworkList.ts
Due: eslint --fix, prettier --write

CI
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prd.yml
  .github/workflows/deploy-stg.yml
  .github/workflows/deploy.yml
  vercel.json
Due: prettier --write

CI
  .github/workflows/deploy-dev.yml
Due: none

coding table component
  .stylelintrc.json
  packages/app-base/public/fonts/JetBrainsMono-Bold.woff2
  packages/app-base/public/fonts/JetBrainsMono-Light.woff2
  packages/app-base/src/assets/images/relayer-avatar.svg
  packages/app-base/src/components/OverviewCharts/index.tsx
  packages/app-base/src/pages/RelayersOverview.tsx
  packages/darwinia-ui/package.json
  packages/darwinia-ui/src/App.tsx
  packages/darwinia-ui/src/assets/images/sort-ascend.svg
  packages/darwinia-ui/src/assets/images/sort-default.svg
  packages/darwinia-ui/src/assets/images/sort-descend.svg
  packages/darwinia-ui/src/assets/styles/_mixins.scss
  packages/darwinia-ui/src/assets/styles/common.scss
  packages/darwinia-ui/src/assets/styles/index.scss
  packages/darwinia-ui/src/assets/styles/theme.scss
  packages/darwinia-ui/src/components/Pagination/index.tsx
  packages/darwinia-ui/src/components/Table/index.tsx
  packages/darwinia-ui/src/components/Table/styles.scss
  packages/darwinia-ui/src/index.ts
Due: eslint --fix, stylelint --fix, prettier --write

tabs done
  packages/app-base/src/locale/localeKeys.ts
  packages/app-base/src/locale/translations/enUS.ts
  packages/app-base/src/pages/RelayersOverview.tsx
  packages/darwinia-ui/src/assets/styles/theme.scss
  packages/darwinia-ui/src/components/Table/index.tsx
  packages/darwinia-ui/src/components/Table/styles.scss
  packages/darwinia-ui/src/components/Tabs/index.tsx
  packages/darwinia-ui/src/components/Tabs/styles.scss
  packages/darwinia-ui/src/index.ts
Due: eslint --fix, stylelint --fix, prettier --write

coding pagination component
  packages/darwinia-ui/src/components/Pagination/index.tsx
  packages/darwinia-ui/src/components/Pagination/usePagination.ts
  packages/darwinia-ui/src/components/Table/index.tsx
  packages/darwinia-ui/src/index.ts
Due: eslint --fix, prettier --write

update the configuration of rollup ignore node_modules
  packages/app-config/package.json
  packages/app-config/rollup.config.js
  packages/app-hooks/package.json
  packages/app-hooks/rollup.config.js
  packages/app-provider/package.json
  packages/app-provider/rollup.config.js
  packages/app-provider/src/graphql.tsx
  packages/app-types/package.json
  packages/app-types/rollup.config.js
  packages/app-utils/package.json
  packages/app-utils/rollup.config.js
  packages/app-utils/src/graphql.ts
  packages/app-utils/src/index.ts
  yarn.lock
Due: eslint --fix, prettier --write

app-base install packacges and import provider
  packages/app-base/package.json
  packages/app-base/src/main.tsx
  packages/app-utils/src/graphql.ts
Due: eslint --fix, prettier --write

Add deploy action (#4)
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prd.yml
  .github/workflows/deploy-stg.yml
  vercel.json
Due: prettier --write

Update config.yml
  .github/ISSUE_TEMPLATE/config.yml
Due: none

Pagination component is done
  packages/app-base/src/assets/styles/index.scss
  packages/app-base/src/pages/RelayersOverview.tsx
  packages/darwinia-ui/src/assets/images/caret-left.svg
  packages/darwinia-ui/src/assets/images/caret-right.svg
  packages/darwinia-ui/src/components/Pagination/index.tsx
  packages/darwinia-ui/src/components/Pagination/styles.scss
  packages/darwinia-ui/src/components/Pagination/usePagination.ts
  packages/darwinia-ui/src/components/Table/index.tsx
  packages/darwinia-ui/src/components/Table/styles.scss
  packages/darwinia-ui/src/index.ts
Due: eslint --fix, stylelint --fix, prettier --write

Pagination can monitor outside updates
  packages/darwinia-ui/src/components/Pagination/index.tsx
Due: eslint --fix, prettier --write

update rollup external setup
  packages/app-config/rollup.config.js
  packages/app-hooks/rollup.config.js
  packages/app-provider/rollup.config.js
  packages/app-types/rollup.config.js
  packages/app-utils/rollup.config.js
Due: eslint --fix, prettier --write

config typescript strict mode
  packages/app-config/tsconfig.json
  packages/app-hooks/tsconfig.json
  packages/app-provider/tsconfig.json
  packages/app-types/tsconfig.json
  packages/app-utils/tsconfig.json
  tsconfig.json
Due: prettier --write

added table spinner and no data icon on the table
  packages/app-base/src/pages/RelayersOverview.tsx
  packages/darwinia-ui/src/assets/images/no-data.svg
  packages/darwinia-ui/src/assets/styles/theme.scss
  packages/darwinia-ui/src/components/Spinner/index.tsx
  packages/darwinia-ui/src/components/Spinner/styles.scss
  packages/darwinia-ui/src/components/Table/index.tsx
  packages/darwinia-ui/src/components/Table/styles.scss
  packages/darwinia-ui/src/index.ts
Due: eslint --fix, stylelint --fix, prettier --write

fix compile issue
  packages/app-config/package.json
  packages/app-config/rollup.config.js
  packages/app-config/src/custom.d.ts
  packages/app-config/tsconfig.json
  packages/app-hooks/package.json
  packages/app-hooks/rollup.config.js
  packages/app-hooks/src/feemarket.tsx
  packages/app-hooks/src/graphql.tsx
  packages/app-hooks/src/index.tsx
  packages/app-hooks/tsconfig.json
  packages/app-provider/package.json
  packages/app-provider/rollup.config.js
  packages/app-provider/src/feemarket.tsx
  packages/app-provider/src/graphql.tsx
  packages/app-provider/tsconfig.json
  packages/app-types/package.json
  packages/app-types/rollup.config.js
  packages/app-types/tsconfig.json
  packages/app-utils/package.json
  packages/app-utils/rollup.config.js
  packages/app-utils/tsconfig.json
  tsconfig.rollup.json
Due: eslint --fix, prettier --write

chain config add display name
  nx.json
  packages/app-config/src/chains/crab.ts
  packages/app-config/src/chains/darwinia.ts
  packages/app-config/src/chains/pangolin.ts
  packages/app-config/src/chains/pangoro.ts
  packages/app-types/src/chain.ts
Due: eslint --fix, prettier --write

-code refactoring -relayer details page is done
  packages/app-base/src/Root.tsx
  packages/app-base/src/components/Chart/index.tsx
  packages/app-base/src/components/OverviewCharts/index.tsx
  packages/app-base/src/components/OverviewSummary/index.tsx
  packages/app-base/src/components/RelayerDetailsChart/index.tsx
  packages/app-base/src/components/RelayerDetailsSummary/index.tsx
  packages/app-base/src/components/RelayerDetailsTable/index.tsx
  packages/app-base/src/locale/localeKeys.ts
  packages/app-base/src/locale/translations/enUS.ts
  packages/app-base/src/pages/Overview.tsx
  packages/app-base/src/pages/RelayerDetails.tsx
  packages/app-base/src/pages/RelayersOverview.tsx
  packages/app-base/src/routes/index.tsx
  packages/darwinia-ui/src/components/Spinner/styles.scss
  packages/darwinia-ui/src/components/Table/index.tsx
  packages/darwinia-ui/src/components/Table/styles.scss
Due: eslint --fix, stylelint --fix, prettier --write

setup watch and config dev depends watch
  nx.json
  packages/app-config/package.json
  packages/app-hooks/package.json
  packages/app-provider/package.json
  packages/app-types/package.json
  packages/app-utils/package.json
Due: prettier --write

reset nx parallel config
  nx.json
Due: prettier --write

config parallel watch
  nx.json
  package.json
Due: prettier --write

fixed menu highlighting bug
  packages/app-base/src/Root.tsx
  packages/app-base/src/assets/images/finished.svg
  packages/app-base/src/assets/images/in-progress.svg
  packages/app-base/src/assets/images/out-of-slot.svg
  packages/app-base/src/components/Menu/index.tsx
  packages/app-base/src/components/MenuItem/index.tsx
  packages/app-base/src/components/OrdersSummary/index.tsx
  packages/app-base/src/components/OverviewSummary/index.tsx
  packages/app-base/src/locale/localeKeys.ts
  packages/app-base/src/locale/translations/enUS.ts
  packages/app-base/src/pages/Orders.tsx
  packages/app-base/src/pages/RelayersOverview.tsx
  packages/app-base/src/routes/index.tsx
  packages/darwinia-ui/src/components/Spinner/styles.scss
Due: eslint --fix, stylelint --fix, prettier --write

market selection configuration
  packages/app-base/src/assets/images/pangolin-icon.svg
  packages/app-base/src/assets/images/pangoro-icon.svg
  packages/app-base/src/data/types.ts
  packages/app-base/src/data/useNetworkList.ts
  packages/app-base/src/locale/translations/enUS.ts
  packages/app-config/src/chains/pangolin.ts
  packages/app-config/src/chains/pangoro.ts
  packages/app-utils/src/others.ts
Due: eslint --fix, prettier --write

app-components package
  package.json
  packages/app-base/package.json
  packages/app-components/package.json
  packages/app-components/rollup.config.js
  packages/app-components/src/index.tsx
  packages/app-components/tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

native token configuration
  packages/app-config/src/chains/crab.ts
  packages/app-config/src/chains/darwinia.ts
  packages/app-config/src/chains/pangolin.ts
  packages/app-config/src/chains/pangoro.ts
  packages/app-types/src/chain.ts
Due: eslint --fix, prettier --write

api provider
  packages/app-base/src/main.tsx
  packages/app-hooks/src/api.tsx
  packages/app-hooks/src/index.tsx
  packages/app-provider/src/api.tsx
  packages/app-provider/src/index.tsx
Due: eslint --fix, prettier --write

menu updates
  packages/app-base/src/components/Header/index.tsx
  packages/app-base/src/components/Menu/index.tsx
  packages/app-base/src/components/MenuItem/index.tsx
  packages/app-base/src/components/Sidebar/index.tsx
Due: eslint --fix, prettier --write

before merging to main
  packages/app-base/src/components/OrdersTable/index.tsx
  packages/app-base/src/pages/Orders.tsx
Due: eslint --fix, prettier --write

gql configuration
  packages/app-config/src/gql.ts
Due: eslint --fix, prettier --write

graph query hook
  packages/app-hooks/src/graphQuery.tsx
  packages/app-hooks/src/index.tsx
Due: eslint --fix, prettier --write

fee market overview data hook
  packages/app-config/src/index.ts
  packages/app-hooks/src/feeMarketOverviewData.tsx
  packages/app-hooks/src/index.tsx
  packages/app-provider/src/feemarket.tsx
  packages/app-provider/src/graphql.tsx
Due: eslint --fix, prettier --write

popup animation updated
  packages/app-base/src/components/NetworkSwitchDialog/index.tsx
  packages/app-base/src/components/OrdersTable/index.tsx
  packages/app-base/src/locale/localeKeys.ts
  packages/app-base/src/locale/translations/enUS.ts
  packages/darwinia-ui/src/components/Button/index.tsx
  packages/darwinia-ui/src/components/Input/index.tsx
  packages/darwinia-ui/src/components/Popover/style.scss
Due: eslint --fix, stylelint --fix, prettier --write

orders table is done
  packages/app-base/src/components/OrdersTable/index.tsx
  packages/app-base/src/locale/localeKeys.ts
  packages/app-base/src/locale/translations/enUS.ts
  packages/darwinia-ui/src/assets/images/caret-down.svg
  packages/darwinia-ui/src/assets/styles/_mixins.scss
  packages/darwinia-ui/src/assets/styles/common.scss
  packages/darwinia-ui/src/assets/styles/theme.scss
  packages/darwinia-ui/src/components/Input/index.tsx
  packages/darwinia-ui/src/components/Popover/index.tsx
  packages/darwinia-ui/src/components/Radio/index.tsx
  packages/darwinia-ui/src/components/Select/index.tsx
  packages/darwinia-ui/src/components/Select/styles.scss
  packages/darwinia-ui/src/index.ts
  packages/darwinia-ui/src/types.ts
Due: eslint --fix, stylelint --fix, prettier --write
