Repository darwinia-network/fee-market: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

Setup eslint
  .eslintignore
  .eslintrc.json
  .lintstagedrc.json
  package.json
  yarn.lock
Due: prettier --write

Config clean yes arg
  package.json
Due: prettier --write

Update .gitignore
  .gitignore
Due: none

Project app-demo
  package.json
  packages/app-demo/index.html
  packages/app-demo/package.json
  packages/app-demo/public/vite.svg
  packages/app-demo/src/App.css
  packages/app-demo/src/App.tsx
  packages/app-demo/src/assets/react.svg
  packages/app-demo/src/index.css
  packages/app-demo/src/main.tsx
  packages/app-demo/src/vite-env.d.ts
  packages/app-demo/tsconfig.json
  packages/app-demo/tsconfig.node.json
  packages/app-demo/vite.config.ts
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write

Build script
  package.json
Due: prettier --write

Create ci.yml
  .github/workflows/ci.yml
Due: none

Changed the dev server port
  packages/app-demo/package.json
Due: prettier --write

Changed package from app-demo to app-base
  package.json
  packages/app-base/index.html
  packages/app-base/package.json
  packages/app-base/public/vite.svg
  packages/app-base/src/App.css
  packages/app-base/src/App.tsx
  packages/app-base/src/assets/react.svg
  packages/app-base/src/index.css
  packages/app-base/src/main.tsx
  packages/app-base/src/vite-env.d.ts
  packages/app-base/tsconfig.json
  packages/app-base/tsconfig.node.json
  packages/app-base/vite.config.ts
Due: eslint --fix, stylelint --fix, prettier --write

Added tailwind css and updated linting
  .eslintrc.json
  .stylelintrc.json
  package.json
  packages/app-base/index.html
  packages/app-base/package.json
  packages/app-base/postcss.config.cjs
  packages/app-base/public/favicon.svg
  packages/app-base/public/logo.svg
  packages/app-base/src/App.css
  packages/app-base/src/App.tsx
  packages/app-base/src/assets/fonts/JetBrainsMono-Bold.woff2
  packages/app-base/src/assets/fonts/JetBrainsMono-Light.woff2
  packages/app-base/src/assets/logo.svg
  packages/app-base/src/assets/react.svg
  packages/app-base/src/assets/styles/index.scss
  packages/app-base/src/components/HelloWorld.tsx
  packages/app-base/src/index.css
  packages/app-base/src/main.tsx
  packages/app-base/tailwind.config.cjs
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write

moved tailwind to root
  package.json
  packages/app-base/package.json
  yarn.lock
Due: prettier --write

added routing
  package.json
  packages/app-base/package.json
  packages/app-base/src/App.tsx
  packages/app-base/src/components/SideNav.tsx
  packages/app-base/src/main.tsx
  packages/app-base/src/pages/About.tsx
  packages/app-base/src/pages/Contact.tsx
  packages/app-base/src/pages/Home.tsx
  packages/app-base/src/routes/index.tsx
  packages/app-base/src/routes/routesList.ts
  yarn.lock
Due: eslint --fix, prettier --write

updated routing
  packages/app-base/src/App.tsx
  packages/app-base/src/components/SideBar.tsx
  packages/app-base/src/components/SideNav.tsx
  packages/app-base/src/main.tsx
  packages/app-base/src/pages/NotFound.tsx
  packages/app-base/src/routes/index.tsx
  packages/app-base/src/routes/routesList.ts
Due: eslint --fix, prettier --write

code refactoring
  packages/app-base/src/App.tsx
  packages/app-base/src/components/HelloWorld.tsx
  packages/app-base/src/components/SideBar/index.tsx
Due: eslint --fix, prettier --write

pages dynamic import bug fix
  packages/app-base/src/pages/ErrorCatcher.tsx
  packages/app-base/src/pages/NotFound.tsx
  packages/app-base/src/routes/index.tsx
Due: eslint --fix, prettier --write

integrated i18n
  packages/app-base/package.json
  packages/app-base/src/App.tsx
  packages/app-base/src/components/SideBar/index.tsx
  packages/app-base/src/locale/index.ts
  packages/app-base/src/locale/localeKeys.ts
  packages/app-base/src/locale/translations/enUS.ts
  packages/app-base/src/locale/translations/zhCN.ts
  packages/app-base/src/main.tsx
  packages/app-base/src/pages/Contact.tsx
  packages/app-base/src/pages/Home.tsx
  yarn.lock
Due: eslint --fix, prettier --write

added darwinia-ui package
  packages/app-base/package.json
  packages/app-base/src/pages/Home.tsx
  packages/darwinia-ui/index.html
  packages/darwinia-ui/package.json
  packages/darwinia-ui/public/vite.svg
  packages/darwinia-ui/src/App.css
  packages/darwinia-ui/src/App.tsx
  packages/darwinia-ui/src/assets/react.svg
  packages/darwinia-ui/src/components/Button/index.tsx
  packages/darwinia-ui/src/index.css
  packages/darwinia-ui/src/index.ts
  packages/darwinia-ui/src/main.tsx
  packages/darwinia-ui/src/vite-env.d.ts
  packages/darwinia-ui/tsconfig.json
  packages/darwinia-ui/tsconfig.node.json
  packages/darwinia-ui/vite.config.ts
Due: eslint --fix, stylelint --fix, prettier --write

Test darwinia-ui component works
  packages/app-base/src/pages/Home.tsx
  packages/darwinia-ui/index.html
  packages/darwinia-ui/public/vite.svg
  packages/darwinia-ui/src/App.css
  packages/darwinia-ui/src/App.tsx
  packages/darwinia-ui/src/components/Button/index.tsx
  packages/darwinia-ui/src/index.css
  packages/darwinia-ui/src/main.tsx
Due: eslint --fix, stylelint --fix, prettier --write

Integrated Tailwind CSS in darwinia-ui package
  .stylelintrc.json
  package.json
  packages/app-base/package.json
  packages/app-base/src/pages/Home.tsx
  packages/darwinia-ui/README.md
  packages/darwinia-ui/package.json
  packages/darwinia-ui/postcss.config.cjs
  packages/darwinia-ui/src/assets/fonts/JetBrainsMono-Bold.woff2
  packages/darwinia-ui/src/assets/fonts/JetBrainsMono-Light.woff2
  packages/darwinia-ui/src/assets/styles/autogenerated.css
  packages/darwinia-ui/src/assets/styles/index.scss
  packages/darwinia-ui/src/components/Button/index.tsx
  packages/darwinia-ui/src/components/Button/styles.scss
  packages/darwinia-ui/src/index.ts
  packages/darwinia-ui/tailwind.config.cjs
Due: eslint --fix, stylelint --fix, prettier --write

before adding a third party scrollbar
  packages/app-base/src/App.tsx
  packages/app-base/src/components/SideBar/index.tsx
  packages/app-base/src/components/Sidebar/index.tsx
  packages/app-base/src/pages/Home.tsx
  packages/darwinia-ui/src/assets/styles/autogenerated.css
  packages/darwinia-ui/src/components/Button/index.tsx
  packages/darwinia-ui/src/components/Button/styles.scss
  packages/darwinia-ui/tailwind.config.cjs
Due: eslint --fix, stylelint --fix, prettier --write

Added custom scrollbar
  packages/app-base/package.json
  packages/app-base/src/App.tsx
  packages/app-base/src/components/Sidebar/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write

app model
  package.json
  packages/app-model/package.json
  packages/app-model/rollup.config.js
  packages/app-model/src/chain.ts
  packages/app-model/src/entity/index.ts
  packages/app-model/src/entity/subquery.ts
  packages/app-model/src/index.ts
  packages/app-model/src/order.ts
  packages/app-model/src/others.ts
  packages/app-model/src/polkadot.ts
  packages/app-model/src/relayer.ts
  packages/app-model/tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

Add model build to root build script
  package.json
Due: prettier --write

App model (#1)
  package.json
  packages/app-model/package.json
  packages/app-model/rollup.config.js
  packages/app-model/src/chain.ts
  packages/app-model/src/entity/index.ts
  packages/app-model/src/entity/subquery.ts
  packages/app-model/src/index.ts
  packages/app-model/src/order.ts
  packages/app-model/src/others.ts
  packages/app-model/src/polkadot.ts
  packages/app-model/src/relayer.ts
  packages/app-model/tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

app config
  nx.json
  package.json
  packages/app-config/package.json
  packages/app-config/rollup.config.js
  packages/app-config/src/constant.ts
  packages/app-config/src/index.ts
  packages/app-config/src/others.ts
  packages/app-config/tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

app config (#2)
  nx.json
  package.json
  packages/app-config/package.json
  packages/app-config/rollup.config.js
  packages/app-config/src/constant.ts
  packages/app-config/src/index.ts
  packages/app-config/src/others.ts
  packages/app-config/tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

App utils
  package.json
  packages/app-config/src/others.ts
  packages/app-model/src/polkadot.ts
  packages/app-types/package.json
  packages/app-types/rollup.config.js
  packages/app-types/src/chain.ts
  packages/app-types/src/entity/index.ts
  packages/app-types/src/entity/subquery.ts
  packages/app-types/src/index.ts
  packages/app-types/src/order.ts
  packages/app-types/src/others.ts
  packages/app-types/src/polkadot.ts
  packages/app-types/src/relayer.ts
  packages/app-types/tsconfig.json
  packages/app-utils/package.json
  packages/app-utils/rollup.config.js
  packages/app-utils/src/index.ts
  packages/app-utils/src/others.ts
  packages/app-utils/src/polkadot.ts
  packages/app-utils/tsconfig.json
  tsconfig.base.json
  tsconfig.json
Due: eslint --fix, prettier --write

App utils (#3)
  package.json
  packages/app-config/src/others.ts
  packages/app-model/src/polkadot.ts
  packages/app-types/package.json
  packages/app-types/rollup.config.js
  packages/app-types/src/chain.ts
  packages/app-types/src/entity/index.ts
  packages/app-types/src/entity/subquery.ts
  packages/app-types/src/index.ts
  packages/app-types/src/order.ts
  packages/app-types/src/others.ts
  packages/app-types/src/polkadot.ts
  packages/app-types/src/relayer.ts
  packages/app-types/tsconfig.json
  packages/app-utils/package.json
  packages/app-utils/rollup.config.js
  packages/app-utils/src/index.ts
  packages/app-utils/src/others.ts
  packages/app-utils/src/polkadot.ts
  packages/app-utils/tsconfig.json
  tsconfig.base.json
  tsconfig.json
Due: eslint --fix, prettier --write

setting up menu
  packages/app-base/package.json
  packages/app-base/src/App.tsx
  packages/app-base/src/assets/images/avatar.svg
  packages/app-base/src/assets/images/caret-down.svg
  packages/app-base/src/assets/images/close.svg
  packages/app-base/src/assets/images/logo.svg
  packages/app-base/src/assets/images/menu-toggle.svg
  packages/app-base/src/assets/images/orders.svg
  packages/app-base/src/assets/images/overview.svg
  packages/app-base/src/assets/images/pointer-round.svg
  packages/app-base/src/assets/styles/index.scss
  packages/app-base/src/components/Drawer/index.tsx
  packages/app-base/src/components/Drawer/styles.scss
  packages/app-base/src/components/Header/index.tsx
  packages/app-base/src/components/Menu/index.tsx
  packages/app-base/src/components/MenuItem/index.tsx
  packages/app-base/src/components/NetworkSwitchButton/index.tsx
  packages/app-base/src/locale/localeKeys.ts
  packages/app-base/src/locale/translations/enUS.ts
  packages/app-base/src/menu/index.ts
  packages/darwinia-ui/package.json
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write

mobile nav is ready
  packages/app-base/src/assets/styles/index.scss
  packages/app-base/src/components/Drawer/index.tsx
  packages/app-base/src/components/Drawer/styles.scss
  packages/app-base/src/components/Header/index.tsx
  packages/app-base/src/components/Menu/index.tsx
  packages/app-base/src/components/MenuItem/index.tsx
  packages/app-base/src/components/NetworkSwitchButton/index.tsx
  packages/app-base/src/menu/index.ts
Due: eslint --fix, stylelint --fix, prettier --write

Nav bar working, all pages created
  packages/app-base/src/App.tsx
  packages/app-base/src/assets/styles/index.scss
  packages/app-base/src/components/Header/index.tsx
  packages/app-base/src/components/Menu/index.tsx
  packages/app-base/src/components/MenuItem/index.tsx
  packages/app-base/src/components/Sidebar/index.tsx
  packages/app-base/src/menu/index.ts
  packages/app-base/src/pages/About.tsx
  packages/app-base/src/pages/Orders.tsx
  packages/app-base/src/pages/Overview.tsx
  packages/app-base/src/pages/RelayerDashboard.tsx
  packages/app-base/src/pages/RelayersOverview.tsx
  packages/app-base/src/routes/index.tsx
Due: eslint --fix, stylelint --fix, prettier --write

network selection popper added but without animation
  packages/app-base/package.json
  packages/app-base/src/assets/styles/index.scss
  packages/app-base/src/components/CustomPopper/index.tsx
  packages/app-base/src/components/Header/index.tsx
  packages/app-base/src/components/MenuItem/index.tsx
  packages/app-base/src/components/NetworkSwitchButton/index.tsx
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write

ui with bugs
  packages/app-base/src/App.tsx
  packages/app-base/src/Root.tsx
  packages/app-base/src/components/Header/index.tsx
  packages/app-base/src/components/NetworkSwitchButton/index.tsx
  packages/app-base/src/components/NetworkSwitchDialog/index.tsx
  packages/darwinia-ui/package.json
  packages/darwinia-ui/src/assets/styles/autogenerated.css
  packages/darwinia-ui/src/components/Button/index.tsx
  packages/darwinia-ui/src/components/CustomPopper/index.tsx
  packages/darwinia-ui/src/components/RadioButton/index.tsx
  packages/darwinia-ui/src/index.ts
Due: eslint --fix, stylelint --fix, prettier --write

overview page done
  .stylelintrc.json
  packages/app-base/src/Root.tsx
  packages/app-base/src/assets/images/crab-icon.svg
  packages/app-base/src/assets/images/darwinia-icon.svg
  packages/app-base/src/assets/images/ethereum-icon.svg
  packages/app-base/src/assets/images/switch-icon.svg
  packages/app-base/src/assets/styles/index.scss
  packages/app-base/src/components/Chart/index.tsx
  packages/app-base/src/components/Header/index.tsx
  packages/app-base/src/components/Menu/index.tsx
  packages/app-base/src/components/MenuItem/index.tsx
  packages/app-base/src/components/NetworkSwitchButton/index.tsx
  packages/app-base/src/components/NetworkSwitchDialog/index.tsx
  packages/app-base/src/components/OverviewCharts/index.tsx
  packages/app-base/src/components/OverviewData/index.tsx
  packages/app-base/src/components/Sidebar/index.tsx
  packages/app-base/src/data/menu.ts
  packages/app-base/src/data/networkList.ts
  packages/app-base/src/data/types.ts
  packages/app-base/src/locale/localeKeys.ts
  packages/app-base/src/locale/translations/enUS.ts
  packages/app-base/src/main.tsx
  packages/app-base/src/pages/Overview.tsx
  packages/darwinia-ui/src/assets/styles/autogenerated.css
  packages/darwinia-ui/src/assets/styles/index.scss
  packages/darwinia-ui/src/components/Button/index.tsx
  packages/darwinia-ui/src/components/CustomPopper/index.tsx
  packages/darwinia-ui/src/components/Drawer/index.tsx
  packages/darwinia-ui/src/components/Drawer/styles.scss
  packages/darwinia-ui/src/components/Modal/index.tsx
  packages/darwinia-ui/src/components/Modal/styles.scss
  packages/darwinia-ui/src/components/Popover/index.tsx
  packages/darwinia-ui/src/components/Popover/style.scss
  packages/darwinia-ui/src/components/Radio/index.tsx
  packages/darwinia-ui/src/components/Radio/styles.scss
  packages/darwinia-ui/src/components/RadioButton/index.tsx
  packages/darwinia-ui/src/index.ts
Due: eslint --fix, stylelint --fix, prettier --write

removed stylelint font-family rule
  .stylelintrc.json
  packages/darwinia-ui/src/assets/styles/autogenerated.css
  packages/darwinia-ui/src/assets/styles/index.scss
Due: stylelint --fix, prettier --write

index on ui: 28500e8 removed stylelint font-family rule
  packages/app-base/index.html
  packages/app-base/package.json
  packages/app-base/src/assets/images/search-icon.svg
  packages/app-base/src/assets/styles/index.scss
  packages/app-base/src/components/Header/index.tsx
  packages/app-base/src/locale/localeKeys.ts
  packages/app-base/src/locale/translations/enUS.ts
  packages/app-base/src/pages/RelayersOverview.tsx
  packages/darwinia-ui/src/assets/images/search.svg
  packages/darwinia-ui/src/assets/images/sorter-default.svg
  packages/darwinia-ui/src/assets/styles/autogenerated.css
  packages/darwinia-ui/src/components/Button/index.tsx
  packages/darwinia-ui/src/components/Drawer/index.tsx
  packages/darwinia-ui/src/components/Input/index.tsx
  packages/darwinia-ui/src/components/Popover/index.tsx
  packages/darwinia-ui/src/components/Radio/index.tsx
  packages/darwinia-ui/src/components/Table/index.tsx
  packages/darwinia-ui/src/index.ts
Due: eslint --fix, stylelint --fix, prettier --write

lint updates
  .stylelintrc.json
  packages/darwinia-ui/src/assets/styles/autogenerated.css
Due: stylelint --fix, prettier --write

The only ui code that could be reverted
  packages/app-base/src/assets/styles/index.scss
  packages/app-base/src/components/Header/index.tsx
  packages/darwinia-ui/src/assets/styles/autogenerated.css
  packages/darwinia-ui/src/assets/styles/index.scss
  packages/darwinia-ui/src/components/Button/index.tsx
  packages/darwinia-ui/src/components/Drawer/index.tsx
  packages/darwinia-ui/src/components/Popover/index.tsx
  packages/darwinia-ui/src/components/Radio/index.tsx
  packages/darwinia-ui/src/index.ts
Due: eslint --fix, stylelint --fix, prettier --write

deploy action file
  .github/workflows/deploy.yml
Due: none

update utils
  packages/app-config/src/constant.ts
  packages/app-utils/package.json
  packages/app-utils/rollup.config.js
  packages/app-utils/src/date-fns.ts
  packages/app-utils/src/ethers.ts
  packages/app-utils/src/index.ts
  packages/app-utils/src/transform.ts
  yarn.lock
Due: eslint --fix, prettier --write

supplement eth chain type
  packages/app-types/src/chain.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: packages/**/*.{js,jsx,ts,tsx}
  stylelint --fix: any of: **/*.{css,less,scss}
  prettier --write: any of: **/*.{js,jsx,ts,tsx,json}
