Repository darwinia-network/fee-market: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "packages/**/*.{js,jsx,ts,tsx}": "eslint --fix",
  "**/*.{css,less,scss}": "stylelint --fix",
  "**/*.{js,jsx,ts,tsx,json}": "prettier --write"
}

Relayers search bug fix (#98)
  packages/app/package.json
  packages/app/src/components/Account/index.tsx
  packages/app/src/components/AccountMini/index.tsx
  packages/app/src/components/JazzIcon/index.tsx
  packages/app/src/components/OrdersTable/index.tsx
  packages/app/src/pages/RelayerDetails.tsx
  packages/app/src/pages/RelayersOverview.tsx
  yarn.lock
Due: eslint --fix, prettier --write

Fixed the "forever loading" issue
  packages/app-hooks/src/marketOverviewData.tsx
Due: eslint --fix, prettier --write

Fixed the "forever loading" issue (#101)
  packages/app-hooks/src/marketOverviewData.tsx
Due: eslint --fix, prettier --write

Remove some chains collateral limit
  packages/app/src/components/Balance/index.tsx
Due: eslint --fix, prettier --write

Remove some chains collateral limit (#102)
  packages/app/src/components/Balance/index.tsx
Due: eslint --fix, prettier --write

Update README.md
  README.md
Due: none

Update README.md (#106)
  README.md
Due: none

Improve hook naming
  packages/app/src/hooks/wallet/index.ts
  packages/app/src/hooks/wallet/polkadotJs.tsx
  packages/app/src/hooks/wallet/walletConnect.tsx
Due: eslint --fix, prettier --write

Fix getTopRelayer
  packages/app/src/hooks/relayersOverview.tsx
Due: eslint --fix, prettier --write

Update markets
  packages/app/src/config/chains/crab.ts
  packages/app/src/config/chains/darwinia.ts
  packages/app/src/config/chains/darwiniaSmartChain.ts
  packages/app/src/config/chains/index.ts
  packages/app/src/config/chains/pangolin.ts
  packages/app/src/config/chains/pangolinParachain.ts
  packages/app/src/config/chains/pangoro.ts
  packages/app/src/config/chains/pangoroSmartChain.ts
  packages/app/src/config/constant.ts
  packages/app/src/config/feemarket-section.ts
  packages/app/src/config/markets.ts
  packages/app/src/providers/market.tsx
Due: eslint --fix, prettier --write

Fix connect metamask loading
  packages/app/src/hooks/wallet/metamask.tsx
Due: eslint --fix, prettier --write

Update contract address
  packages/app/src/config/chains/darwinia.ts
  packages/app/src/config/chains/ethereum.ts
Due: eslint --fix, prettier --write

Update market
  packages/app/src/config/chains/darwinia.ts
  packages/app/src/config/chains/goerli.ts
  packages/app/src/config/chains/index.ts
  packages/app/src/config/chains/pangolin.ts
  packages/app/src/config/chains/pangoro.ts
  packages/app/src/config/constant.ts
  packages/app/src/config/markets.ts
Due: eslint --fix, prettier --write

Update markets and fix contract address (#108)
  packages/app/src/config/chains/crab.ts
  packages/app/src/config/chains/darwinia.ts
  packages/app/src/config/chains/darwiniaSmartChain.ts
  packages/app/src/config/chains/ethereum.ts
  packages/app/src/config/chains/goerli.ts
  packages/app/src/config/chains/index.ts
  packages/app/src/config/chains/pangolin.ts
  packages/app/src/config/chains/pangolinParachain.ts
  packages/app/src/config/chains/pangoro.ts
  packages/app/src/config/chains/pangoroSmartChain.ts
  packages/app/src/config/constant.ts
  packages/app/src/config/feemarket-section.ts
  packages/app/src/config/markets.ts
  packages/app/src/hooks/relayersOverview.tsx
  packages/app/src/hooks/wallet/metamask.tsx
  packages/app/src/providers/market.tsx
Due: eslint --fix, prettier --write

Migrate actions
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prd.yml
  .github/workflows/deploy-stg.yml
Due: none

Migrate actions (#109)
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prd.yml
  .github/workflows/deploy-stg.yml
Due: none

Fix ethereum and goerli rpc
  packages/app/src/config/chains/ethereum.ts
  packages/app/src/config/chains/goerli.ts
Due: eslint --fix, prettier --write

Fix ethereum and goerli rpc (#110)
  packages/app/src/config/chains/ethereum.ts
  packages/app/src/config/chains/goerli.ts
Due: eslint --fix, prettier --write

Warning no longer supported and maintained
  packages/app/src/App2.tsx
  packages/app/src/assets/styles/index.scss
  packages/app/src/main.tsx
Due: eslint --fix, stylelint --fix, prettier --write

Warning no longer supported and maintained (#111)
  packages/app/src/App2.tsx
  packages/app/src/assets/styles/index.scss
  packages/app/src/main.tsx
Due: eslint --fix, stylelint --fix, prettier --write
