Repository darwinia-network/fee-market: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "packages/**/*.{js,jsx,ts,tsx}": "eslint --fix",
  "**/*.{css,less,scss}": "stylelint --fix",
  "**/*.{js,jsx,ts,tsx,json}": "prettier --write"
}

clean code
  packages/app-base/src/components/Account/index.tsx
Due: eslint --fix, prettier --write

disable run bridger
  packages/app-base/src/components/Account/index.tsx
Due: eslint --fix, prettier --write

account selector
  packages/app-base/src/components/AccountSelectionModal/index.tsx
  packages/app-provider/src/api.tsx
Due: eslint --fix, prettier --write

fix account name hook on change address
  packages/app-hooks/src/accountName.tsx
Due: eslint --fix, prettier --write

disable switch account on eth
  packages/app-base/src/components/Account/index.tsx
  packages/app-base/src/components/RelayerDashboard/index.tsx
Due: eslint --fix, prettier --write

fix build
  packages/app-base/src/components/Account/index.tsx
Due: eslint --fix, prettier --write

relayer detail navigate
  packages/app-base/src/pages/RelayerDetails.tsx
  packages/app-base/src/pages/RelayersOverview.tsx
Due: eslint --fix, prettier --write

fix some bugs
  packages/app-base/src/components/CancelRelayerModal/index.tsx
  packages/app-base/src/components/ModifyCollateralBalanceModal/index.tsx
  packages/app-base/src/components/ModifyQuoteModal/index.tsx
Due: eslint --fix, prettier --write

relayer detail table
  packages/app-base/src/components/RelayerDetailsTable/index.tsx
Due: eslint --fix, prettier --write

Relayer action (#16)
  nx.json
  packages/app-base/package.json
  packages/app-base/src/App.tsx
  packages/app-base/src/assets/images/polkadot-logo.svg
  packages/app-base/src/components/Account/index.tsx
  packages/app-base/src/components/AccountSelectionModal/index.tsx
  packages/app-base/src/components/Balance/index.tsx
  packages/app-base/src/components/CancelRelayerModal/index.tsx
  packages/app-base/src/components/ConnectWallet/index.tsx
  packages/app-base/src/components/Header/index.tsx
  packages/app-base/src/components/ModifyCollateralBalanceModal/index.tsx
  packages/app-base/src/components/ModifyQuoteModal/index.tsx
  packages/app-base/src/components/NetworkSwitchDialog/index.tsx
  packages/app-base/src/components/RegisterRelayerModal/index.tsx
  packages/app-base/src/components/RelayerDashboard/index.tsx
  packages/app-base/src/components/RelayerDetailsTable/index.tsx
  packages/app-base/src/locale/localeKeys.ts
  packages/app-base/src/locale/translations/enUS.ts
  packages/app-base/src/pages/RelayerDashboard.tsx
  packages/app-base/src/pages/RelayerDetails.tsx
  packages/app-base/src/pages/RelayersOverview.tsx
  packages/app-config/src/constant.ts
  packages/app-hooks/src/accountName.tsx
  packages/app-hooks/src/index.tsx
  packages/app-provider/package.json
  packages/app-provider/src/api.tsx
  packages/app-utils/src/others.ts
  yarn.lock
Due: eslint --fix, prettier --write

channel notification
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prd.yml
  .github/workflows/deploy-stg.yml
Due: none

channel notification (#17)
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-prd.yml
  .github/workflows/deploy-stg.yml
Due: none

change to browser router
  packages/app-base/src/routes/index.tsx
Due: eslint --fix, prettier --write

account select modal scrollbar
  packages/app-base/src/components/AccountSelectionModal/index.tsx
  packages/darwinia-ui/src/components/ModalEnhanced/index.tsx
Due: eslint --fix, prettier --write

build script does not rm dist
  packages/app-components/package.json
  packages/app-config/package.json
  packages/app-hooks/package.json
  packages/app-provider/package.json
  packages/app-types/package.json
  packages/app-utils/package.json
Due: prettier --write

get eth and polkadot balance helper
  packages/app-utils/src/balance.ts
  packages/app-utils/src/index.ts
Due: eslint --fix, prettier --write

get balance hook
  packages/app-hooks/src/balance.tsx
  packages/app-hooks/src/index.tsx
  packages/app-utils/src/balance.ts
Due: eslint --fix, prettier --write

get native token update
  packages/app-base/src/components/Balance/index.tsx
  packages/app-base/src/components/ModifyCollateralBalanceModal/index.tsx
  packages/app-base/src/components/ModifyQuoteModal/index.tsx
  packages/app-base/src/components/OverviewCharts/index.tsx
  packages/app-base/src/components/OverviewSummary/index.tsx
  packages/app-base/src/components/RegisterRelayerModal/index.tsx
  packages/app-base/src/components/RelayerDashboard/index.tsx
  packages/app-base/src/components/RelayerDetailsChart/index.tsx
  packages/app-base/src/pages/OrderDetails.tsx
  packages/app-base/src/pages/RelayerDetails.tsx
  packages/app-base/src/pages/RelayersOverview.tsx
Due: eslint --fix, prettier --write

get balance hook should pass api param
  packages/app-hooks/src/balance.tsx
Due: eslint --fix, prettier --write

format balance helper amount can be bn type
  packages/app-utils/src/others.ts
Due: eslint --fix, prettier --write

account selector shows accounts available balance
  packages/app-base/src/components/AccountSelectionModal/index.tsx
Due: eslint --fix, prettier --write

update collateral modal shows relayer current available balance
  packages/app-base/src/components/ModifyCollateralBalanceModal/index.tsx
  packages/app-base/src/locale/localeKeys.ts
  packages/app-base/src/locale/translations/enUS.ts
Due: eslint --fix, prettier --write

crab parachain and pangolin parachain as source chain market
  packages/app-base/src/data/useNetworkList.ts
  packages/app-config/src/chains/crabParachain.ts
  packages/app-config/src/chains/index.ts
  packages/app-config/src/chains/pangolinParachain.ts
  packages/app-config/src/others.ts
  packages/app-types/src/chain.ts
Due: eslint --fix, prettier --write

fix menu navigation url search params
  packages/app-base/src/components/MenuItem/index.tsx
Due: eslint --fix, prettier --write

order page loading
  packages/app-base/src/pages/Orders.tsx
Due: eslint --fix, prettier --write

fix orders table pagination
  packages/app-base/src/components/OrdersTable/index.tsx
Due: eslint --fix, prettier --write

@darwinia/ui date picker component optimized
  packages/app-base/src/pages/Orders.tsx
  packages/darwinia-ui/src/assets/styles/theme.scss
  packages/darwinia-ui/src/components/Calendar/index.tsx
  packages/darwinia-ui/src/components/Calendar/styles.scss
  packages/darwinia-ui/src/components/Calendar/util.ts
  packages/darwinia-ui/src/components/DateRangePicker/index.tsx
  packages/darwinia-ui/src/components/DateRangePicker/styles.scss
  packages/darwinia-ui/src/index.ts
Due: eslint --fix, stylelint --fix, prettier --write

orders table relayer account name
  packages/app-base/src/components/OrdersTable/index.tsx
Due: eslint --fix, prettier --write

orders table account identicon
  packages/app-base/package.json
  packages/app-base/src/components/OrdersTable/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write

orders table create at and confirm at field update
  packages/app-base/src/components/OrdersTable/index.tsx
  packages/app-base/src/pages/Orders.tsx
Due: eslint --fix, prettier --write

clean code
  packages/app-base/src/components/OrdersTable/index.tsx
Due: eslint --fix, prettier --write

orders search
  packages/app-base/src/components/OrdersTable/index.tsx
  packages/app-base/src/pages/Orders.tsx
Due: eslint --fix, prettier --write

orders block range filter ui
  packages/app-base/src/components/BlockRangeInput/index.tsx
  packages/app-base/src/components/DatePickerFakeInput/index.tsx
  packages/app-base/src/components/OrdersTable/index.tsx
  packages/app-base/src/locale/localeKeys.ts
  packages/app-base/src/locale/translations/enUS.ts
Due: eslint --fix, prettier --write

Optimize UI and UX (#24)
  packages/app-base/package.json
  packages/app-base/src/components/AccountSelectionModal/index.tsx
  packages/app-base/src/components/Balance/index.tsx
  packages/app-base/src/components/BlockRangeInput/index.tsx
  packages/app-base/src/components/DatePickerFakeInput/index.tsx
  packages/app-base/src/components/MenuItem/index.tsx
  packages/app-base/src/components/ModifyCollateralBalanceModal/index.tsx
  packages/app-base/src/components/ModifyQuoteModal/index.tsx
  packages/app-base/src/components/OrdersTable/index.tsx
  packages/app-base/src/components/OverviewCharts/index.tsx
  packages/app-base/src/components/OverviewSummary/index.tsx
  packages/app-base/src/components/RegisterRelayerModal/index.tsx
  packages/app-base/src/components/RelayerDashboard/index.tsx
  packages/app-base/src/components/RelayerDetailsChart/index.tsx
  packages/app-base/src/data/useNetworkList.ts
  packages/app-base/src/locale/localeKeys.ts
  packages/app-base/src/locale/translations/enUS.ts
  packages/app-base/src/pages/OrderDetails.tsx
  packages/app-base/src/pages/Orders.tsx
  packages/app-base/src/pages/RelayerDetails.tsx
  packages/app-base/src/pages/RelayersOverview.tsx
  packages/app-base/src/routes/index.tsx
  packages/app-components/package.json
  packages/app-config/package.json
  packages/app-config/src/chains/crabParachain.ts
  packages/app-config/src/chains/index.ts
  packages/app-config/src/chains/pangolinParachain.ts
  packages/app-config/src/others.ts
  packages/app-hooks/package.json
  packages/app-hooks/src/balance.tsx
  packages/app-hooks/src/index.tsx
  packages/app-provider/package.json
  packages/app-types/package.json
  packages/app-types/src/chain.ts
  packages/app-utils/package.json
  packages/app-utils/src/balance.ts
  packages/app-utils/src/index.ts
  packages/app-utils/src/others.ts
  packages/darwinia-ui/src/components/ModalEnhanced/index.tsx
  yarn.lock
Due: eslint --fix, prettier --write

Changed to a better date range picker
  packages/app-base/src/components/DatePickerFakeInput/index.tsx
  packages/app-base/src/pages/Orders.tsx
  packages/darwinia-ui/src/components/Calendar/index.tsx
  packages/darwinia-ui/src/components/DateRangePicker/index.tsx
  packages/darwinia-ui/src/components/DateRangePicker/styles.scss
  packages/darwinia-ui/src/index.ts
Due: eslint --fix, stylelint --fix, prettier --write

deleted the old date picker
  packages/darwinia-ui/src/components/DatePicker/index.tsx
  packages/darwinia-ui/src/components/DatePicker/styles.scss
  packages/darwinia-ui/src/components/DatePicker/util.ts
  packages/darwinia-ui/src/index.ts
Due: eslint --fix, stylelint --fix, prettier --write

search orders comparation params convert to lower case
  packages/app-base/src/components/OrdersTable/index.tsx
Due: eslint --fix, prettier --write

orders table code optimization
  packages/app-base/src/components/OrdersTable/index.tsx
  packages/app-base/src/pages/OrderDetails.tsx
  packages/app-base/src/pages/Orders.tsx
  packages/app-types/src/order.ts
Due: eslint --fix, prettier --write

update site title
  packages/app-base/index.html
Due: none

minor ui updates
  packages/app-base/src/components/DatePickerFakeInput/index.tsx
  packages/app-base/src/components/Header/index.tsx
  packages/app-base/src/components/NetworkSwitchButton/index.tsx
  packages/app-base/src/components/OrdersTable/index.tsx
  packages/app-base/src/locale/localeKeys.ts
  packages/app-base/src/locale/translations/enUS.ts
  packages/app-base/src/pages/Orders.tsx
  packages/darwinia-ui/src/components/Button/index.tsx
  packages/darwinia-ui/src/components/Button/styles.scss
  packages/darwinia-ui/src/components/Input/index.tsx
  packages/darwinia-ui/src/components/Select/index.tsx
  packages/darwinia-ui/src/components/Select/styles.scss
Due: eslint --fix, stylelint --fix, prettier --write
