Repository darwinia-network/fee-market: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

finished coding an account component
  packages/app-base/src/assets/images/help.svg
  packages/app-base/src/assets/images/metamask-logo.svg
  packages/app-base/src/assets/styles/index.scss
  packages/app-base/src/components/Account/index.tsx
  packages/app-base/src/components/Balance/index.tsx
  packages/app-base/src/components/ConnectWallet/index.tsx
  packages/app-base/src/components/OrdersTable/index.tsx
  packages/app-base/src/components/RelayerDashboard/index.tsx
  packages/app-base/src/components/RelayerDetailsSummary/index.tsx
  packages/app-base/src/locale/localeKeys.ts
  packages/app-base/src/locale/translations/enUS.ts
  packages/app-base/src/pages/RelayerDashboard.tsx
  packages/app-base/src/pages/RelayerDetails.tsx
  packages/darwinia-ui/src/assets/images/close-white.svg
  packages/darwinia-ui/src/assets/images/close.svg
  packages/darwinia-ui/src/assets/styles/theme.scss
  packages/darwinia-ui/src/components/Modal/index.tsx
  packages/darwinia-ui/src/components/Modal/styles.scss
  packages/darwinia-ui/src/components/ModalEnhanced/index.tsx
  packages/darwinia-ui/src/components/ModalEnhanced/styles.scss
  packages/darwinia-ui/src/components/Select/index.tsx
  packages/darwinia-ui/src/index.ts
Due: eslint --fix, stylelint --fix, prettier --write

relayer dashboard pages done
  packages/app-base/src/assets/images/edit.svg
  packages/app-base/src/components/Account/index.tsx
  packages/app-base/src/components/AccountMini/index.tsx
  packages/app-base/src/components/AccountSelectionModal/index.tsx
  packages/app-base/src/components/Balance/index.tsx
  packages/app-base/src/components/CancelRelayerModal/index.tsx
  packages/app-base/src/components/ConnectWallet/index.tsx
  packages/app-base/src/components/ModifyCollateralBalanceModal/index.tsx
  packages/app-base/src/components/ModifyQuoteModal/index.tsx
  packages/app-base/src/components/OrdersTable/index.tsx
  packages/app-base/src/components/RegisterRelayerModal/index.tsx
  packages/app-base/src/components/RelayerDashboard/index.tsx
  packages/app-base/src/components/RelayerDetailsTable/index.tsx
  packages/app-base/src/locale/localeKeys.ts
  packages/app-base/src/locale/translations/enUS.ts
  packages/app-base/src/pages/RelayersOverview.tsx
  packages/app-base/tailwind.config.cjs
  packages/darwinia-ui/src/components/Input/index.tsx
  packages/darwinia-ui/src/components/Modal/index.tsx
  packages/darwinia-ui/src/components/ModalEnhanced/index.tsx
  packages/darwinia-ui/src/components/SlideDownUp/index.tsx
  packages/darwinia-ui/src/components/SlideDownUp/styles.scss
  packages/darwinia-ui/src/index.ts
  packages/darwinia-ui/tailwind.config.cjs
Due: eslint --fix, stylelint --fix, prettier --write

overview page some sumary data
  packages/app-base/src/components/Header/index.tsx
  packages/app-base/src/components/OverviewSummary/index.tsx
  packages/app-hooks/src/feeMarketOverviewData.tsx
  packages/app-hooks/src/feemarket.tsx
  packages/app-hooks/src/graphql.tsx
  packages/app-hooks/src/index.tsx
  packages/app-provider/src/feemarket.tsx
  packages/app-provider/src/graphql.tsx
Due: eslint --fix, prettier --write

fix get total relayers
  packages/app-hooks/src/feeMarketOverviewData.tsx
Due: eslint --fix, prettier --write

fix total relayers display
  packages/app-base/src/components/OverviewSummary/index.tsx
Due: eslint --fix, prettier --write

fix get current fee
  packages/app-hooks/src/feeMarketOverviewData.tsx
Due: eslint --fix, prettier --write

setup polkadot api
  packages/app-config/src/chains/crab.ts
  packages/app-config/src/chains/darwinia.ts
  packages/app-config/src/chains/pangolin.ts
  packages/app-config/src/chains/pangoro.ts
  packages/app-provider/src/api.tsx
  packages/app-types/src/chain.ts
Due: eslint --fix, prettier --write

overview page charts
  packages/app-base/src/components/Chart/FeeHistoryChart.tsx
  packages/app-base/src/components/Chart/OrdersCountChart.tsx
  packages/app-base/src/components/OverviewCharts/index.tsx
  packages/app-base/src/components/OverviewSummary/index.tsx
  packages/app-base/src/components/RelayerDetailsChart/index.tsx
  packages/app-base/src/locale/translations/enUS.ts
  packages/app-base/src/pages/Overview.tsx
  packages/app-components/src/FeeHistoryChart.tsx
  packages/app-components/src/OrdersCountChart.tsx
  packages/app-components/src/index.tsx
Due: eslint --fix, prettier --write

relayers overview data
  packages/app-base/src/pages/RelayersOverview.tsx
  packages/app-hooks/src/api.tsx
  packages/app-hooks/src/index.tsx
  packages/app-hooks/src/relayersOverviewData.tsx
Due: eslint --fix, prettier --write

All pages done except the date picker
  packages/app-base/src/Root.tsx
  packages/app-base/src/components/Account/index.tsx
  packages/app-base/src/components/Balance/index.tsx
  packages/app-base/src/components/OrderDetailsScaffold/index.tsx
  packages/app-base/src/components/OrdersTable/index.tsx
  packages/app-base/src/components/RelayerDetailsTable/index.tsx
  packages/app-base/src/locale/localeKeys.ts
  packages/app-base/src/locale/translations/enUS.ts
  packages/app-base/src/pages/OrderDetails.tsx
  packages/app-base/src/routes/index.tsx
  packages/app-base/tailwind.config.cjs
  packages/darwinia-ui/src/assets/styles/common.scss
  packages/darwinia-ui/src/components/DatePicker/index.tsx
  packages/darwinia-ui/src/components/DatePicker/styles.scss
  packages/darwinia-ui/src/components/Popover/index.tsx
  packages/darwinia-ui/src/components/Popover/style.scss
  packages/darwinia-ui/src/components/Tooltip/index.tsx
  packages/darwinia-ui/src/components/Tooltip/styles.scss
  packages/darwinia-ui/src/index.ts
Due: eslint --fix, stylelint --fix, prettier --write

get all relayers and assigned relayers data source
  packages/app-base/src/pages/RelayersOverview.tsx
  packages/app-hooks/src/feeMarketOverviewData.tsx
  packages/app-hooks/src/relayersOverviewData.tsx
Due: eslint --fix, prettier --write

relayer detail
  packages/app-base/src/components/Chart/QuoteHistoryChart.tsx
  packages/app-base/src/components/Chart/RewardAndSlashChart.tsx
  packages/app-base/src/components/RelayerDetailsChart/index.tsx
  packages/app-base/src/components/RelayerDetailsTable/index.tsx
  packages/app-base/src/locale/translations/enUS.ts
  packages/app-base/src/pages/RelayerDetails.tsx
  packages/app-hooks/src/index.tsx
  packages/app-hooks/src/relayerDetailData.tsx
Due: eslint --fix, prettier --write

date picker working
  packages/app-base/src/components/DatePickerFakeInput/index.tsx
  packages/app-base/src/components/Header/index.tsx
  packages/app-base/src/components/OrdersTable/index.tsx
  packages/darwinia-ui/package.json
  packages/darwinia-ui/src/components/DatePicker/index.tsx
  packages/darwinia-ui/src/components/DatePicker/styles.scss
  packages/darwinia-ui/src/components/DatePicker/util.ts
  packages/darwinia-ui/src/components/Popover/index.tsx
  packages/darwinia-ui/src/components/Tooltip/index.tsx
  packages/darwinia-ui/src/index.ts
  yarn.lock
Due: eslint --fix, stylelint --fix, prettier --write

minor bugs fix on the popover
  packages/app-base/src/components/DatePickerFakeInput/index.tsx
  packages/darwinia-ui/src/assets/styles/theme.scss
  packages/darwinia-ui/src/components/Popover/index.tsx
  packages/darwinia-ui/src/components/Select/index.tsx
Due: eslint --fix, stylelint --fix, prettier --write

setup ethereum chain and api
  packages/app-base/src/components/OverviewCharts/index.tsx
  packages/app-base/src/components/OverviewSummary/index.tsx
  packages/app-base/src/components/RelayerDetailsChart/index.tsx
  packages/app-base/src/data/types.ts
  packages/app-base/src/data/useNetworkList.ts
  packages/app-base/src/pages/RelayerDetails.tsx
  packages/app-base/src/pages/RelayersOverview.tsx
  packages/app-config/src/chains/crab.ts
  packages/app-config/src/chains/darwinia.ts
  packages/app-config/src/chains/goerli.ts
  packages/app-config/src/chains/index.ts
  packages/app-config/src/chains/pangolin.ts
  packages/app-config/src/chains/pangoro.ts
  packages/app-hooks/src/feeMarketOverviewData.tsx
  packages/app-hooks/src/relayersOverviewData.tsx
  packages/app-provider/src/api.tsx
  packages/app-provider/src/feemarket.tsx
  packages/app-provider/src/global.d.ts
  packages/app-provider/src/graphql.tsx
  packages/app-types/src/chain.ts
  packages/app-utils/src/others.ts
Due: eslint --fix, prettier --write

minor UI bug fix on the orders details page
  packages/app-base/src/pages/OrderDetails.tsx
  packages/darwinia-ui/src/components/Popover/index.tsx
Due: eslint --fix, prettier --write

fix failed to build
  packages/app-base/src/components/RelayerDashboard/index.tsx
Due: eslint --fix, prettier --write

minor UI bugs fix
  packages/app-base/src/components/Account/index.tsx
  packages/app-base/src/components/AccountSelectionModal/index.tsx
  packages/app-base/src/components/RegisterRelayerModal/index.tsx
  packages/app-base/src/components/RelayerDashboard/index.tsx
  packages/app-base/src/components/Sidebar/index.tsx
  packages/app-base/src/locale/translations/enUS.ts
Due: eslint --fix, prettier --write

current market url search params
  packages/app-base/src/App.tsx
  packages/app-base/src/main.tsx
  packages/app-config/src/others.ts
  packages/app-provider/src/feemarket.tsx
  packages/app-types/src/others.ts
  packages/app-utils/package.json
  yarn.lock
Due: eslint --fix, prettier --write

fix market url search params
  packages/app-provider/src/feemarket.tsx
Due: eslint --fix, prettier --write

orders page data
  packages/app-base/src/components/OrdersSummary/index.tsx
  packages/app-base/src/components/OrdersTable/index.tsx
  packages/app-base/src/pages/Orders.tsx
  packages/app-hooks/src/index.tsx
  packages/app-hooks/src/ordersData.tsx
Due: eslint --fix, prettier --write

1.minor UI bugs fix 2.Coding a dropdown component
  packages/app-base/src/components/Account/index.tsx
  packages/app-base/src/components/Header/index.tsx
  packages/app-base/src/components/NetworkSwitchDialog/index.tsx
  packages/darwinia-ui/src/components/Dropdown/index.tsx
  packages/darwinia-ui/src/components/Dropdown/styles.scss
  packages/darwinia-ui/src/components/Popover/index.tsx
  packages/darwinia-ui/src/index.ts
Due: eslint --fix, stylelint --fix, prettier --write

order detail page
  packages/app-base/src/Root.tsx
  packages/app-base/src/components/OrderDetailsScaffold/index.tsx
  packages/app-base/src/components/OrdersTable/index.tsx
  packages/app-base/src/pages/OrderDetails.tsx
  packages/app-base/src/pages/Orders.tsx
  packages/app-config/src/constant.ts
  packages/app-types/src/others.ts
Due: eslint --fix, prettier --write

clean code
  packages/app-base/src/components/OrdersTable/index.tsx
Due: eslint --fix, prettier --write

table pagination
  packages/app-base/src/components/OrdersTable/index.tsx
  packages/app-base/src/pages/RelayersOverview.tsx
Due: eslint --fix, prettier --write

fix build failed
  packages/app-types/src/entity/subquery.ts
Due: eslint --fix, prettier --write

update ci action name
  .github/workflows/ci.yml
Due: none

staging alias domain
  .github/workflows/deploy-stg.yml
Due: none

fix url search update effect
  packages/app-base/src/components/Header/index.tsx
  packages/app-provider/src/feemarket.tsx
Due: eslint --fix, prettier --write

connect metamask
  packages/app-base/src/pages/RelayerDashboard.tsx
  packages/app-provider/src/api.tsx
Due: eslint --fix, prettier --write

connect metamask loading
  packages/app-base/src/components/ConnectWallet/index.tsx
  packages/app-base/src/pages/RelayerDashboard.tsx
Due: eslint --fix, prettier --write

show or hide switch eth network
  packages/app-base/src/components/RelayerDashboard/index.tsx
  packages/app-provider/src/api.tsx
Due: eslint --fix, prettier --write

update prd and stg github actions trigger event
  .github/workflows/deploy-prd.yml
  .github/workflows/deploy-stg.yml
Due: none

update prd and stg github actions trigger event (#10)
  .github/workflows/deploy-prd.yml
  .github/workflows/deploy-stg.yml
Due: none

eth chains connfig
  packages/app-base/src/data/useNetworkList.ts
  packages/app-config/package.json
  packages/app-config/rollup.config.js
  packages/app-config/src/abi/eth.json
  packages/app-config/src/chains/darwiniaSmartChain.ts
  packages/app-config/src/chains/ethereum.ts
  packages/app-config/src/chains/index.ts
  packages/app-config/src/chains/pangoroSmartChain.ts
  packages/app-types/src/chain.ts
  yarn.lock
Due: eslint --fix, prettier --write

-Added dropdown component -Added more actions dropdown on the relayer dashboard
  packages/app-base/src/components/Account/index.tsx
  packages/app-base/src/locale/localeKeys.ts
  packages/app-base/src/locale/translations/enUS.ts
  packages/darwinia-ui/src/components/Dropdown/index.tsx
  packages/darwinia-ui/src/components/Dropdown/styles.scss
  packages/darwinia-ui/src/components/Select/styles.scss
Due: eslint --fix, stylelint --fix, prettier --write

eth rpc config
  packages/app-config/src/chains/darwiniaSmartChain.ts
  packages/app-config/src/chains/ethereum.ts
  packages/app-config/src/chains/goerli.ts
  packages/app-config/src/chains/pangoroSmartChain.ts
  packages/app-types/src/chain.ts
Due: eslint --fix, prettier --write

switch or add eth network
  packages/app-base/src/components/RelayerDashboard/index.tsx
Due: eslint --fix, prettier --write

-Added 404 page -SVG logo wasn't showing on iPhone for some reasons, changed the logo to a PNG -minor UI updates
  packages/app-base/index.html
  packages/app-base/public/logo.png
  packages/app-base/src/assets/images/logo.png
  packages/app-base/src/assets/images/not-found.png
  packages/app-base/src/components/Header/index.tsx
  packages/app-base/src/components/RelayerDetailsTable/index.tsx
  packages/app-base/src/components/Sidebar/index.tsx
  packages/app-base/src/locale/localeKeys.ts
  packages/app-base/src/locale/translations/enUS.ts
  packages/app-base/src/pages/ErrorCatcher.tsx
  packages/app-base/src/pages/NotFound.tsx
  packages/app-base/src/pages/NotFoundRoot.tsx
  packages/app-base/src/routes/index.tsx
  packages/darwinia-ui/src/components/Button/index.tsx
  vercel.json
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: packages/**/*.{js,jsx,ts,tsx}
  stylelint --fix: any of: **/*.{css,less,scss}
  prettier --write: any of: **/*.{js,jsx,ts,tsx,json}
